[nodes]
h1: app1 radius=0.1 angle=0.2 ccnx:/,s1
h2: _ radius=0.1 angle=0.2 cpu=0.1
s1: _ radius=0.1 angle=0.2 ccnx:/test,h2
h3: _ radius=0.1 angle=0.2 ccnx:/,h2
[links]
h1:s1 bw=100 cost=10
h2:s1 bw=100 loss=1 delay=10ms cost=20
h3:h1 bw=100 cost=10
h3:h2 bw=100 cost=10
